/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */

@font-face {
    font-family: 'iconfont';
    /* Project id 4058616 */
    src: url('https://at.alicdn.com/t/c/font_4058616_6gh3o0yjs5h.woff2?t=1684372762892') format('woff2'), url('https://at.alicdn.com/t/c/font_4058616_6gh3o0yjs5h.woff?t=1684372762892') format('woff'), url('https://at.alicdn.com/t/c/font_4058616_6gh3o0yjs5h.ttf?t=1684372762892') format('truetype'), url('https://at.alicdn.com/t/c/font_4058616_6gh3o0yjs5h.svg?t=1684372762892#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shenghuofuwu:before {
    content: "\e63e";
}

.icon-xiuxianwanle:before {
    content: "\e63f";
}

.icon-paishefuwu:before {
    content: "\e640";
}

.icon-chuguoliuxue:before {
    content: "\e641";
}

.icon-huodongcehua:before {
    content: "\e642";
}

.icon-jiankangshouhu:before {
    content: "\e643";
}

.icon-pinzhichuhang:before {
    content: "\e644";
}

.icon-huwaiyundong:before {
    content: "\e645";
}

.icon-yishupinjian:before {
    content: "\e646";
}

.icon-meirongyangyan:before {
    content: "\e647";
}

.icon-shangwuliyi:before {
    content: "\e648";
}

.icon-canyinmeishi:before {
    content: "\e63a";
}

.icon-feiyichuancheng:before {
    content: "\e63b";
}

.icon-gongyicishan:before {
    content: "\e63c";
}

.icon-fuzhuangdingzhi:before {
    content: "\e63d";
}

.icon-wodeyuding:before {
    content: "\e634";
}

.icon-wodepingjia:before {
    content: "\e635";
}

.icon-dingdanlishi:before {
    content: "\e636";
}

.icon-fenxiang:before {
    content: "\e637";
}

.icon-ruzhushangcheng:before {
    content: "\e638";
}

.icon-shaidan:before {
    content: "\e639";
}

.icon-dianzan-weijujiao:before {
    content: "\e633";
}

.icon-dianzan-jujiao:before {
    content: "\e632";
}

.icon-shouyeicon:before {
    content: "\e62f";
}

.icon-shoucangicon:before {
    content: "\e630";
}

.icon-wodeicon:before {
    content: "\e631";
}

.icon-sousuo:before {
    content: "\e625";
}