page {
    background: #CDCDCD;
    height: auto;
}

.header-top {
    padding-top: 120rpx;
    font-size: 36rpx;
    font-weight: 600;
    color: $base-bg-blue;
    line-height: 52rpx;
    text-align: center;
    text {
        font-family: Source Han Sans CN;
    }
}

.container {
    .bg-sear {
        width: 698rpx;
        height: 66rpx;
        background: #FFFFFF;
        box-shadow: inset 0px 0px 8rpx 0px #A67139;
        border-radius: 200rpx;
        border: 3rpx solid #A67139;
    }
    .container-top {
        width: 100%;
        min-height: 918rpx;
        background-image: url('./../../../static/img/bg1.png');
        background-size: 100%;
    }
}

.container-center {
    background: $base-bg-blue;
    /deep/ .wrap {
        background: none;
    }
    /deep/ .homeBox {
        background: none;
        .tabBox {
            background: none;
            .tab-item {
                color: #fff;
            }
            .tab-choice {
                color: #fff;
            }
            .tab-choice::before {
                background: #fff;
            }
        }
    }
}


/* 分类栏目 */

.content {}

.cat-row {
    padding-top: 50rpx;
}

.arrow {
    width: 15rpx;
    height: 15rpx;
    border-top: 3rpx solid #686868;
    border-right: 3rpx solid #686868;
    transform: rotate(45deg);
    position: absolute;
    right: 30rpx;
    top: 34rpx;
}

.home-content {
    min-height: 1200rpx;
    margin-top: 30rpx;
}