/**index.wxss**/

page {
    background: #CDCDCD;
    height: auto;
}

.header-top {
    font-size: 24tpx;
    color: #000;
    font-weight: 600;
    background: #fff;
    padding-left: 20rpx;padding-top: 120rpx;
}

.search-and-address {
    display: flex;
    width: 100%;
    background: #fff;
}

.container .bg-sear {
    background: #fff;
    padding: 40rpx 0;
}

.bg-sear .scrolltop {
    display: flex;
    justify-content: flex-start;
}

.bg-sear .section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 66rpx;
    background: #fff;
    z-index: 1;
    border-radius: 8rpx 0 0 8rpx;
    width: 370rpx;
    margin: auto;
    margin-left: 24rpx;
    background: #f7f7f7;
    margin-right: 0;
}

.bg-sear .section .placeholder {
    display: block;
    font-size: 28rpx;
    color: #888;
}

.bg-sear .section .iconfont {
    margin-left: 20rpx;
    margin-right: 8px;
    font-size: 44rpx;
    font-weight: 600;
}

.bg-sear .search-btn {
    width: 132rpx;
    height: 66rpx;
    background: #000000;
    border-radius: 0rpx 8rpx 8rpx 0rpx;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-sear .search-btn .text {
    font-size: 30rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
}


/* 分类栏目 */

.content {
    background: #fff;
}

.cat-row {
    padding-top: 20rpx;
    background: #fff;
}

.cat-item {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.cat-item .item {
    text-align: center;
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-bottom: 40rpx;
}

.cat-item .item image {
    width: 100rpx;
    height: 100rpx;
}

.cat-item .item text {
    margin-top: 10rpx;
    font-size: 22rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 600;
    color: #000000;
}

.arrow {
    width: 15rpx;
    height: 15rpx;
    border-top: 3rpx solid #686868;
    border-right: 3rpx solid #686868;
    transform: rotate(45deg);
    position: absolute;
    right: 30rpx;
    top: 34rpx;
}


/* 商城热卖 */

.hot-sale {
    /* margin: 15rpx 0; */
}

.hot-sale .prod-items {
    display: inline-block;
    background: #fff;
    box-sizing: border-box;
    width: 342rpx;
    height: 492rpx;
    background: #FFFFFF;
    border-radius: 12rpx;
}

.hot-sale .prod-items:nth-child(2n-1) {
    margin: 0rpx 20rpx 20rpx 24rpx;
}

.hot-sale .prod-items:nth-child(2n) {
    // margin: 0rpx 24rpx 20rpx 0rpx;
}

.prod-items .hot-imagecont .hotsaleimg {
    width: 341rpx;
    height: 356rpx;
}

.prod-items .hot-text .hotprod-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10rpx;
}

.prod-items .hot-imagecont {
    font-size: 0;
    text-align: center;
}

.prod-items .hot-text {
    font-size: 28rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 600;
    color: #333333;
    line-height: 40rpx;
    margin-top: 16rpx;
    margin-left: 14rpx;
}

.prod-items .hot-text .prod-info,
.more-prod .prod-text-right .prod-info {
    font-size: 22rpx;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.prod-items .hot-text .prod-text-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prod-items .hot-text .prod-text-info .price .symbol {
    font-size: 16rpx;
    font-weight: 600;
    color: #000000;
    line-height: 22rpx;
}

.prod-items .hot-text .prod-text-info .price .big-num {
    font-size: 32rpx;
    font-weight: 600;
    color: #000000;
    line-height: 22rpx;
}

.prod-items .hot-text .prod-text-info .zan-num {
    font-size: 24rpx;
    font-weight: 400;
    color: #000000;
    line-height: 34rpx;
    margin-left: 4rpx;
    margin-right: 20rpx;
}

.prod-items .hot-text .prod-text-info .basket-img {
    display: flex;
    align-items: center;
}

.prod-items .hot-text .prod-text-info .basket-img .iconfont {
    font-size: 44rpx;
}

.zan-icon {
    width: 50rpx;
    height: 50rpx;
}

.singal-price {
    display: inline;
    font-size: 20rpx;
    text-decoration: line-through;
    color: #777;
    margin-left: 15rpx;
}


/* 更多宝贝 */

.b-cart {
    margin-top: 30rpx;
}

.b-cart .basket-img {
    width: 50rpx;
    height: 50rpx;
    position: absolute;
    right: 46rpx;
    /* border: 2rpx solid #eb2444;
  border-radius: 50%; */
    padding: 8rpx;
}


/* 定位 */

.positioning {
    display: flex;
    justify-content: flex-start;
    background: #fff;
    padding-left: 18rpx;
    align-items: center;
}

.positioning .text {
    font-size: 28rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #000000;
    line-height: 40rpx;
    margin: 0 10rpx 0 10rpx;
}

.positioning .iconfont {
    font-weight: 600;
}

.home-content {
    background: linear-gradient(180deg, #FFFFFF 0%, #f1f1f1 100%);
    min-height: 1200rpx;
}