/* pages/orderList/orderList.wxss */


/* 头部菜单 */

.order-tit {
    display: flex;
    justify-content: space-around;
    z-index: 999;
    width: 100%;
    height: 100rpx;
    line-height: 100rpx;
    /deep/ .u-tabs__wrapper__nav__item {
        padding: 0 25rpx!important;
    }
}

.decoration {
    width: 692rpx;
    height: 32rpx;
    position: relative;
    top: -3rpx;
    image {
        width: 100%;
        height: 34rpx;
    }
}

.order-num {
    background-color: #fff;
    padding: 26rpx 30rpx 10rpx 30rpx;
    display: flex;
    justify-content: space-between;
    font-size: 30rpx;
    color: #888888;
    line-height: 42rpx;
    border-radius: 14rpx 14rpx 0 0;
    .order-id {
        width: 450rpx;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.order-state {
    display: flex;
    align-items: center;
    font-size: 26rpx;
    color: #333333;
    .grey {
        color: #C0C0C0;
    }
    .blue {
        color: #3B6DBB;
    }
    .green {
        color: #75BB44;
    }
    .red {
        color: #EA531C;
    }
    .orange {
        color: #F5AE48;
    }
}

.order-tit text.on {
    border-bottom: 4rpx solid #eb2444;
    color: #eb2444;
}

.order-tab {
    margin: 0 0 0 5rpx;
}


/*  end 头部菜单 */

.main {
    padding-bottom: env(safe-area-inset-bottom); // 适配iphoneX的底部
}


/* 商品列表 */

.prod-foot {
    /* padding: 20rpx 30rpx; */
    background: #fff;
    border-radius: 0 0 14rpx 14rpx;
    padding-right: 30rpx;
    padding-bottom: 30rpx;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .btn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: 20rpx;
    }
}

.button {
    font-size: 28rpx;
    background: #fff;
    padding: 9rpx 22rpx 8rpx 20rpx;
    border: 2rpx solid #e1e1e1;
    color: #888888;
    border-radius: 40rpx;
    line-height: 40rpx;
}

.blue-btn {
    color: #3B6DBB;
    border: 2rpx solid #3B6DBB;
}

.blue-btn-def {
    background: #3B6DBB;
    color: #fff;
    border: none
}