/* pages/orderList/orderList.wxss */


/* 头部菜单 */

.order-tit {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    z-index: 999;
    width: 100%;
    height: 100rpx;
    line-height: 100rpx;
    background-color: #fff;
    border-bottom: 2rpx solid #f4f4f4;
}

.order-state {
    display: flex;
    align-items: center;
    font-size: 24rpx;
}

.order-tit text {
    display: block;
    font-size: 28rpx;
    color: 999;
    text-align: center;
}

.order-tit text.on {
    border-bottom: 4rpx solid #eb2444;
    color: #eb2444;
}

.order-tab {
    width: 96%;
    margin: 0 auto
}


/*  end 头部菜单 */

.main {
    margin-top: 100rpx;
}


/* 商品列表 */

.prod-foot {
    /* padding: 20rpx 30rpx; */
    border-top: 2rpx solid #e6e6e6;
    .total {
        font-size: 25rpx;
        margin-bottom: 20rpx;
        padding-bottom: 20rpx;
        border-bottom: 2rpx solid #e9eaec;
    }
    .btn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.other-button-hover {
    background-color: blue;
}

.button-hover {
    background-color: red;
}


/** 添加自定义button点击态样式类**/

.button-hover {
    background-color: blue;
}

.button {
    margin-top: 20rpx;
    margin-bottom: 20rpx;
    margin-left: 10px;
    font-size: 26rpx;
    background: #fff;
    padding: 10rpx 30rpx;
    border-radius: 80rpx;
    border: 2rpx solid #e1e1e1;
}

.button:last-child {
    margin-right: 10rpx;
}

.button.warn {
    color: #eb2444;
    border-color: #eb2444;
}


/* end 商品列表 */

.empty {
    font-size: 24rpx;
    margin-top: 100rpx;
    text-align: center;
    color: #999;
    height: 300rpx;
    line-height: 300rpx;
}


/* 根据状态显示不同的颜色 */

.order-state .order-sts.red {
    color: #eb2444;
}

.order-state .order-sts.gray {
    color: #999;
}order-state .order-sts.gray {
    color: #999;
}